@import url(./__content/popup_edit-profile__content.css);
@import url(./__close/popup_edit-profile__close.css);
@import url(./__title/popup_edit-profile__title.css);
@import url(./__form/popup_edit-profile__form.css);
@import url(./__input/popup_edit-profile__input.css);





.popup_edit-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px rgba(255, 255, 255, .15);
    border-radius: 10px;

}