.popup-edit-profile__button {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-top: 48px;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Inter-Regular', serif;
    background: #000000;
    border-radius: 2px;
    transition: opacity linear .3s;
}

.popup-edit-profile__button:disabled {
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    color: rgba(0, 0, 0, .2);
    cursor: default;
}

.popup-edit-profile__button:hover {
    opacity: 80%;
}