.user-info__data {
    width: 336px;
    margin-left: 36px;
    display: flex;
    flex-wrap: wrap;
    margin-right:auto;
    align-self: center;
}

@media screen and (max-width: 1050px) {
    .user-info__data {
        width: 282px;
        margin: 20px 0 36px;
        text-align: center;
        justify-content: center;
    }
}
