.popup-edit-profile__close {
    width: 26px;
    position: absolute;
    top: -26px;
    right: -26px;
    cursor: pointer;
    transition: opacity linear .3s;
}

@media screen and (max-width: 540px) {
    .popup-edit-profile__close {
        top: -48px;
        right: 0;
    }
}
.popup-edit-profile__close:hover{
    opacity: 60%;
}